<div>
    <h1>Products</h1>
    <ul>
        {{#each products}}
            <li>
                <p>{{this.title}}</p>
                <p>{{this.price}}</p>
                <img src={{this.thumbnail}} alt={{this.name}}/>
            </li>
        {{/each}}
    </ul>
    <div style="display:flex;">
        {{#if hasPrevPage }}
        <button id="prev">prev</button>
        {{else}}
        <button id="prev" disabled>prev</button>
        {{/if}}

        <p id="page">{{page}}</p>

        {{#if hasNextPage }}
        <button id="next">sig</button>
        {{else}}
        <button id="next" disabled>sig</button>
        {{/if}}

    </div>
</div>

<script src="/index.js"></script>